<h1>投稿一覧</h1>
  <% @post_images.each do |post_image| %>
    <div>
      <%= link_to post_image_path(post_image) do %>
        <%= image_tag post_image.user.get_profile_image(100,100) %>
        <p>ショップ名：<%= post_image.shop_name %></p>
      <% end %>
      <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
      <p>説明：<%= post_image.caption %></p>
      <p>ユーザー名：<%= post_image.user.name %></p>
      <p><%= link_to "#{post_image.post_comments.count}件のコメント", post_image_path(post_image) %></p>
    </div>
  <% end %>
