<h1>投稿一覧</h1>
  <div>
    <% @post_images.each do |post_image| %>
      <%= link_to post_image_path(post_image) do %>
        <%= image_tag post_image.user.get_profile_image(100,100) %>
        <p>ショップ名：<%= post_image.shop_name %></p>
      <% end %>
      <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
      <p>説明：<%= post_image.caption %></p>
      <p>ユーザー名：<%= post_image.user.name %></p>
    <% end %>
  </div>