<h1>新規投稿</h1>
  <% if @post_image.errors.any? %>
    <%= @post_image.errors.count %>件のエラーが発生しました。 %>
      <ul>
        <% @post_image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
  <%= form_with model: @post_image, url: post_images_path, method: :post do |f| %>
    <div>
      <p><b>店名</b></p>
        <%= f.text_field :shop_name %>
    </div>
    <div>
      <p><b>画像</b></p>
        <%= f.file_field :image, accept: "image/*" %>
    </div>
    <div>
      <p><b>説明</b></p>
        <%= f.text_area :caption %>
    </div>
      <%= f.submit "投稿する" %>
  <% end %>